In [43]:
import pandas as pd

df = pd.read_csv('TCS.csv',skiprows=0,na_values={
    'Turnover':['n.a.',-1],
    'Trades':[-1,'N/A']
}).head(30)
# use skiprows to skip empty rows and get the header row
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-08-25,TCS,EQ,850.00,1198.70,1198.70,979.00,985.00,987.95,1008.32,17116372,1.725876e+15,NaN,5206360,0.3042
1,2004-08-26,TCS,EQ,987.95,992.00,997.00,975.30,976.85,979.00,985.65,5055400,4.982865e+14,NaN,1294899,0.2561
2,2004-08-27,TCS,EQ,979.00,982.40,982.40,958.55,961.20,962.65,969.94,3830750,3.715586e+14,NaN,976527,0.2549
3,2004-08-30,TCS,EQ,962.65,969.90,990.00,965.00,986.40,986.75,982.65,3058151,3.005106e+14,NaN,701664,0.2294
4,2004-08-31,TCS,EQ,986.75,986.50,990.00,976.00,987.80,988.10,982.18,2649332,2.602133e+14,NaN,695234,0.2624
5,2004-09-01,TCS,EQ,988.10,990.00,995.00,983.60,986.00,987.90,989.68,2491943,2.466236e+14,NaN,790586,0.3173
6,2004-09-02,TCS,EQ,987.90,989.90,1004.60,986.00,994.00,993.65,996.96,2669544,2.661426e+14,NaN,501792,0.1880
7,2004-09-03,TCS,EQ,993.65,1006.00,1100.00,990.35,998.70,997.85,996.91,1233732,1.229917e+14,NaN,235508,0.1909
8,2004-09-06,TCS,EQ,997.85,1039.90,1039.90,992.90,996.80,994.85,998.87,1129834,1.128554e+14,NaN,430184,0.3807
9,2004-09-07,TCS,EQ,994.85,1035.00,1035.00,995.00,995.00,995.60,997.34,721529,7.196109e+13,NaN,198212,0.2747
10,2004-09-08,TCS,EQ,995.60,996.00,1000.80,991.10,992.25,993.70,995.29,824248,8.203617e+13,NaN,220195,0.2671
11,2004-09-09,TCS,EQ,993.70,997.00,997.90,978.45,979.65,979.95,985.16,993398,9.786574e+13,NaN,364189,0.3666
12,2004-09-10,TCS,EQ,979.95,990.00,990.00,976.00,989.95,988.80,985.12,801884,7.899507e+13,NaN,203388,0.2536
13,2004-09-13,TCS,EQ,988.80,991.00,1015.50,991.00,1002.75,1003.50,1007.31,2613114,2.632221e+14,NaN,735865,0.2816
14,2004-09-14,TCS,EQ,1003.50,1005.00,1018.80,1002.95,1015.95,1015.65,1012.95,1916934,1.941763e+14,NaN,493998,0.2577
15,2004-09-15,TCS,EQ,1015.65,1018.00,1020.00,1001.20,1005.00,1006.10,1009.12,1498536,1.512208e+14,NaN,483466,0.3226
16,2004-09-16,TCS,EQ,1006.10,1007.00,1015.00,1002.50,1011.00,1008.45,1009.82,919778,9.288063e+13,NaN,240651,0.2616
17,2004-09-17,TCS,EQ,1008.45,1012.00,1029.90,1010.30,1029.90,1024.50,1021.09,1828487,1.867047e+14,NaN,538239,0.2944
18,2004-09-20,TCS,EQ,1024.50,1032.40,1036.90,1020.15,1022.50,1022.90,1028.83,1069028,1.099844e+14,NaN,305251,0.2855
19,2004-09-21,TCS,EQ,1022.90,1024.85,1048.50,1022.00,1047.40,1045.80,1039.54,1737135,1.805822e+14,NaN,413801,0.2382
20,2004-09-22,TCS,EQ,1045.80,1048.40,1056.00,1037.10,1049.90,1052.05,1047.57,1921448,2.012857e+14,NaN,443693,0.2309
21,2004-09-23,TCS,EQ,1052.05,1048.00,1049.00,1027.00,1028.00,1030.25,1037.80,1977460,2.052200e+14,NaN,846586,0.4281
22,2004-09-24,TCS,EQ,1030.25,1029.10,1040.00,1026.00,1027.60,1028.80,1033.94,1010401,1.044693e+14,NaN,218183,0.2159
23,2004-09-27,TCS,EQ,1028.80,1027.50,1032.50,1015.00,1019.00,1020.75,1022.44,1028689,1.051768e+14,NaN,299518,0.2912
24,2004-09-28,TCS,EQ,1020.75,1016.00,1027.40,1012.50,1016.20,1015.55,1020.82,792427,8.089249e+13,NaN,205152,0.2589
25,2004-09-29,TCS,EQ,1015.55,1019.25,1033.00,1016.15,1031.00,1031.00,1024.61,1467147,1.503254e+14,NaN,504626,0.3440
26,2004-09-30,TCS,EQ,1031.00,1035.60,1040.90,1020.65,1025.10,1027.10,1032.72,1565179,1.616397e+14,NaN,585075,0.3738
27,2004-10-01,TCS,EQ,1027.10,1029.00,1056.45,1026.35,1048.50,1047.70,1043.58,1371111,1.430862e+14,NaN,502221,0.3663
28,2004-10-04,TCS,EQ,1047.70,1057.00,1081.00,1054.45,1079.20,1076.50,1071.89,1891228,2.027186e+14,NaN,790442,0.4180
29,2004-10-05,TCS,EQ,1076.50,1080.30,1089.00,1075.50,1077.05,1080.70,1083.44,1792661,1.942248e+14,NaN,532812,0.2972

In [44]:
cols = [i for i in df.columns]

In [45]:
cols

['Date',
 'Symbol',
 'Series',
 'Prev Close',
 'Open',
 'High',
 'Low',
 'Last',
 'Close',
 'VWAP',
 'Volume',
 'Turnover',
 'Trades',
 'Deliverable Volume',
 '%Deliverble']

In [46]:
df.to_csv("demo_TCS.csv",index=False)
# not adding index column

In [47]:
df.to_csv("demo_TCS_col.csv",index=False,columns=cols[:3])
# wrinting specific colums only into the csv file

In [48]:
df.to_csv("demo_TCS_header.csv",index=False,header=False)
# if we dont want to provide header into thge csv file

In [49]:
# FOR EXCEL now

In [50]:
def convert_na_in_cells(cell):
    if cell == 'n.a':
        return None
    return cell

def convert_dateTime_to_date(date):
    return pd.to_datetime(date).date()

In [51]:
# using functions to filter data in excel files
df2 = pd.read_excel('sampledatafoodsales.xlsx','FoodSales',converters ={
    'Quantity':convert_na_in_cells,
    'OrderDate':convert_dateTime_to_date
}).head(30)

In [52]:
df2

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84
5,2020-01-16,East,Boston,Bars,Carrot,54,1.77,95.58
6,2020-01-19,East,Boston,Crackers,Whole Wheat,149,3.49,520.01
7,2020-01-22,West,Los Angeles,Bars,Carrot,51,1.77,90.27
8,2020-01-25,East,New York,Bars,Carrot,100,1.77,177.00
9,2020-01-28,East,New York,Snacks,Potato Chips,28,1.35,37.80
10,2020-01-31,East,Boston,Cookies,Arrowroot,36,2.18,78.48
11,2020-02-03,East,Boston,Cookies,Chocolate Chip,31,1.87,57.97
12,2020-02-06,East,Boston,Crackers,Whole Wheat,28,3.49,97.72
13,2020-02-09,West,Los Angeles,Bars,Carrot,44,1.77,77.88
14,2020-02-12,East,New York,Bars,Carrot,23,1.77,40.71
15,2020-02-15,East,New York,Snacks,Potato Chips,27,1.35,36.45
16,2020-02-18,East,Boston,Cookies,Arrowroot,43,2.18,93.74
17,2020-02-21,East,Boston,Cookies,Oatmeal Raisin,123,2.84,349.32
18,2020-02-24,West,Los Angeles,Bars,Bran,42,1.87,78.54
19,2020-02-27,West,Los Angeles,Cookies,Oatmeal Raisin,33,2.84,93.72
20,2020-03-02,East,New York,Cookies,Chocolate Chip,85,1.87,158.95
21,2020-03-05,West,San Diego,Cookies,Oatmeal Raisin,30,2.84,85.20
22,2020-03-08,East,Boston,Bars,Carrot,61,1.77,107.97
23,2020-03-11,East,Boston,Crackers,Whole Wheat,40,3.49,139.60
24,2020-03-14,West,Los Angeles,Cookies,Chocolate Chip,86,1.87,160.82
25,2020-03-17,East,New York,Bars,Carrot,38,1.77,67.26
26,2020-03-20,East,New York,Snacks,Potato Chips,68,1.68,114.24
27,2020-03-23,West,San Diego,Cookies,Chocolate Chip,39,1.87,72.93
28,2020-03-26,East,Boston,Bars,Bran,103,1.87,192.61
29,2020-03-29,East,Boston,Cookies,Oatmeal Raisin,193,2.84,548.12

In [53]:
df2.to_excel('demo_samplefooddatasales.xlsx',index=False,sheet_name="FoodSales_Demo",startrow=0,startcol=0)

In [ ]:
with pd.ExcelWriter('combined_excel.xlsx') as writer:
    df.to_excel(writer,sheet_name='')